Helllo Admin,
<br/>
New contact is created, Find following detail
<p>
	<b>EMAIL = <%= @contact["email"] %></b><br/>
	Name = <%= @contact["name"] %><br/>
	Subject = <%= @contact["subject"] %><br/>
	Message = <%= @contact["query"] %><br/>
</p>
<br/><br/>
----------<br/>
Aa-EXPRESS