<div class="inner-page">
 <h3>About Us</h3>
</div>
<!-- SITE MAIN CONATANT Start -->
<div class="container marginTop30" style="min-height:500px;">
<div class="row-fluid">
  <div class="span5 about-us">
    <img src="/assets/gls-express-delivery-van_.jpg" alt="delivery-van" style="max-width: 82%;">
  </div>
  <div class="span7 ab-text">
    <h3>Who we are</h3>
    <p class="doubke"></p>
    <p>
     Aa Express Delivery Inc. is the recognized leading provider of same-day and next day deliveries . From our headquarters in Burbank Ca, Aa EXPRESS DELIVERY INC. manages the transportation, distribution and logistics for a rapidly expanding list of well over 200 active clients, including many specialty companies with operations throughout Southern California.
    </p>
  </div>
  <div class="span7 ab-text">
    <h3>What we offer</h3>
    <p class="doubke"></p>
    <p>
     Aa EXPRESS DELIVERY INC. offers a wide range of same-day and next day delivery services including messenger, courier and specialty distribution services. We provide services throughout Sothern California and its surrounding areas.
    </p>
  </div>
</div><!-- Span Closed -->
<div class="row-fluid marginTop20 marginBottom20">
<div class="span6 ab-text">
  <h3>What we specialize in</h3>
  <p class="doubke"></p>
  <p>
   We proudly serve our constantly expanding base of literally hundreds of active clients by being a "reliable" one-click-source for the fastest, most affordable, same-day and next day delivery solutions available. Aa EXPRESS DELIVERY INC. delivers anything, anyplace within Southern California and its surrounding areas - FAST! RELIABLE! 7 DAYS A WEEK! 365 days of the year.
  </p>
</div>
<div class="span6 ab-text">
 <h3>Aa EXPRESS DELIVERY INC.... A Great Choice!</h3>
 <p class="doubke"></p>
 <p>
   Reliable performance and quality, in addition to the highest level of professional customer support, the best communications and information management technology available, including the new on-line ordering, tracking and reporting tool. You will enjoy peace of mind in knowing that you are doing business with an established, well-managed company with over 4 years of success to it's credit. At Aa EXPRESS DELIVERY INC., we are dedicated to being known as the first and best choice throughout our industry.
 </p>
</div>
</div>
</div>
