<div class="inner-page">

 <h3>Thank You !</h3>
 
</div>
<!-- SITE MAIN CONATANT Start -->
<div class="container marginTop30" style="min-height:500px;">


<div class="row-fluid">

  
    <div class="span12 contact-form">
     
     <div class="thanks_mess">Your message was sent successfully! We will Contact you Soon. Thanks</div>
     <div align="center" class="marginTop20">
      <%= link_to "Go to Home", root_path, :class => "btn btn-large btn-success" %> </button>
     </div>
     
     
    </div><!-- Span Closed -->

    
  
</div>


 
 
 
</div>