<div class="inner-page">
 <h3>terms of use</h3>
</div>
<!-- SITE MAIN CONATANT Start -->
<div class="container marginTop30" style="min-height:500px;">
<div class="row-fluid marginTop30 marginBottom30">
<div class="span12 ab-text">
 <h3>Aa Express Terms of Use</h3>
 <!--<p class="doubke"></p>
 <p style="font-size: 14px;">
   Your use of this web application is subject to the following Terms and Conditions:
 </p> -->
 <p style="font-size: 14px;">
   This Messenger Service Agreement is a between a company and a messenger whereby the company retains the services of the messenger to deliver correspondence, documents and packages on behalf of the company.  The agreement provides for the delivery services on an as-needed basis and that the messenger shall perform the services during specified hours of the day.  The company pays the messenger on a per address of delivery basis and agrees to pay certain other out-of-pocket expenses incurred by the messenger.
 </p>
 <p></p>
 <p style="font-size: 14px;">
   The Messenger agrees to keep confidential and not to disclose, directly or indirectly, or assist others in so disclosing, to any person, firm, corporation, or other entity any products, processes, concepts, business opportunities, compilations of data, algorithms, computer codes in either source code and object code, computer programs, computer account names, computer passwords and modem access numbers, financial information, marketing data and strategies and trade secrets related to the operations of the Company obtained in the course of performing his/her obligations herein or pursuant to any other agreement, and which have been directly communicated to the Messenger by the Company, in writing, as being confidential (herein, collectively, “Confidential Information”).  The foregoing obligations do not apply to the extent that the Confidential Information is or becomes generally available to the public through no fault on the Messenger’s part.
 </p>
</div>
</div>
</div>
