<div class="inner-page">
 <h3>Today's Manifest</h3>
</div>
<!-- SITE MAIN CONATANT Start -->
<div class="container marginTop30" style="min-height:500px;">

<div class="row-fluid fom-heading">
 <div class="span12">
  <h4 id="heading">Today's Manifest</h4>
 </div>
</div>
<div class="row-fluid">
  <div class="span6 pull-right">
    <ul class="nav nav-pills pull-right">
      <li id="history"><%= link_to "Shipping History", reporting_path, remote: true %></li>
      <li id="manifest" class="active"><%= link_to "Today's Manifest", manifest_path %></li>
      <li><%= link_to "Address listing", address_listing_path%></li>
    </ul>
  </div><!-- Span Closed -->
</div>
<div class="row-fluid" id="shipment_table">
  <%= render(:partial => "shipment_table", :object => @shipments) %>
</div>
<div class="row-fluid">
  <button class="btn btn-success pull-right marginTop20 marginBottom10" type="button" onClick="window.print()"><i class="icon-print icon-white"></i> Print Shipment</button>
</div>
</div>

<!-- SITE MAIN CONATANT Close -->
